.ProductPage {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    flex-wrap: wrap;
    margin-bottom: 30px;    
}
.MainPage{
    display: flex;
    flex-direction: column;
    background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
    
}

.content_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 600px;
    background: transparent;
    margin: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    margin: 1rem 3rem 1rem 3rem;
    height: 100%;
    width: 100%;
}

.BtnBar {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 1rem;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.content_heading {
    font-size: 45px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 800;
}

#description {
    font-size: 40px;
    font-weight: 600;
}
.prod_description{
    font-size: 18px;
    font-weight: 500;
    width: 90%;
    text-wrap: wrap;
    height: 10rem;
    overflow: auto;
}
.prod_description::-webkit-scrollbar {
    display :none;
}

.RateStar:hover{
    cursor: pointer;
    color: rgb(3, 64, 122);
}

.content_section h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 10px 0;
}

.content_section button {
    border-radius: 2rem;
    font-size: 1rem;
    padding: 10px 15px 10px 15px;
    margin-top: 2rem;
    background-color: rgb(253, 175, 91);
    color: white;
    border: 1px solid rgb(255, 132, 0);
    box-shadow: 0px 1px 12px 0px orange;
    font-weight: 600;
    margin-right: 15px;

}

.content_section button:hover {
    background-color: bisque;
    cursor: pointer;
    font-weight: 600;
    color: black;
}

.rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rating .rating-text {
    font-size: 18px;
    font-weight: 600;
}

.ProdSection {
    width: 35%;
    background-color: white;
    border-radius: 20px;
    height: 600px;
    padding: 10px;
    box-shadow: 1px 1px 3px 3px #333;
}

.ProdHead {
    width: 100%;
    height: 50%;
   
}

.sofa_img_head {
    width: 100%;
    height: 100%;
}

.sofa_other {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
}

.sofa_img {
    width: 50%;
    height: 50%;
}
@media (max-width: 920px) {
    .ProductPage {
        display: flex;
        align-items: center;
    }
    .content_section {
        width: 60%; 
        height: auto; 
        height: 600px;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    #header{
        width: 100%;
    }
    .content_section h2{
        font-size: 24px;
        font-weight: 600;
    }
    .ProdSection {
        width: 60%;
    }
    .sofa_other{
        width: 100%;
        height: 50%;
    }
    .sofa_img{
        width: 50%;
        height: 50%;
    }
    
    .MainPage{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    .ProductPage {
        align-items: center;
    }
    .content_section {
        width: 70%; 
        height: 540px;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    .ProdSection{
        width: 70%;
    }
    #header{
        width: 100%;
    }
    .content_heading {
        font-size: 45px; /* Reduce heading size */
    }
    .content_section h2{
        font-size: 20px;
        font-weight: 600;
    }

    #description {
        font-size: 28px; /* Adjust description font size */
    }
    
    .content_section button {
        padding: 10px 15px 10px 15px;
        font-size: 1rem;

    }
    #header{
        margin-left: 0px;
    }
}

@media (max-width: 480px) {
    .ProductPage {
        gap: 20px;
        align-items: center;
    }
    .content_section {
        width: 85%;
        height: 460px;
    }
    .ProdSection {
        width: 85%;
        height: 500px;
    }
    .content{
        width: 100%;
        margin: 0;
    }
    .content_heading {
        font-size: 40px; 
    }
    #description {
        font-size: 24px; 
    }
    .content_section button {
        padding: 12px 20px; 
        font-size: 12px; 
    }
    #header h2{
        font-size: 14px;
    }
    .content_section h2{
        font-size: 14px;
    }
    .prod_description{
        font-size: 12px;
    }
}
