@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bricolage Grotesque", Sans-serif !important;
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
  color: #333;
  color: #333;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 28px;
  position: relative;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fd7e14;
}

.logo img {
  width: 100px;
  margin-right: 10px;
}

/* .main-nav-landingigation Menu */
.main-nav-landing {
  display: flex;
  gap: 89px;
  justify-content: center;
  align-items: center;
}

.main-nav-landing a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  gap: 10px;
}

.main-nav-landing i {
  font-size: 18px;
  color: #f58634;
}
.main-nav-landing a span {
  align-items: center;
  display: flex;
  gap: 14px;
  text-transform: capitalize;
}

.lo-gin {
  color: #fd7e14;
  font-size: 24px;
}

.main-nav-landing a:hover {
  color: #fd7e14;
}
.ho-me {
  margin-right: 8px;
}
.pro-dct {
  margin-right: 8px;
}
.ab-ut {
  margin-right: 8px;
}
.con-tct {
  margin-right: 8px;
}
.trc-ker {
  margin-right: 8px;
}
.lo-gin {
  font-size: 22px;
}
.ca-rt {
  margin-right: 8px;
}
.lo-ut {
  margin-left: -18px;
}
.lo-gin {
  color: #fd7e14;
  font-size: 25px;
}

.main-nav-landing a:hover {
  color: #fd7e14;
}

/* Responsive Menu for Mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
}

.main-nav-landing-side {
  margin-left: 330px;
  margin-top: 20px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #ffd5a0;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
}
.mobile-menu.active {
  display: flex;
}

.mobile-menu a {
  text-decoration: none;
  color: #fd7e14;
  font-weight: bold;
  font-size: 1.5rem;
}
.mobile-menu a:hover {
  text-decoration: none;
  color: #fd7e14;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .logo img {
    width: 100px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .lo-gin {
    font-size: 21px;
  }
  .main-nav-landing a span {
    gap: 6px;
  }
  .main-nav-landing i {
    font-size: 14px;
  }
  .ho-me {
    margin-right: 4px;
  }
  .pro-dct {
    margin-right: 4px;
  }
  .ab-ut {
    margin-right: 4px;
  }
  .lo-gin {
    margin-right: 4px;
  }
  .con-tct {
    margin-right: 4px;
  }
  .trc-ker {
    margin-right: 4px;
  }
  .lo-gin {
    font-size: 19px;
  }
  .lo-gin {
    font-size: 19px;
  }
  .lo-ut {
    margin-left: -5px;
    color: #f58634;
  }
  .main-nav-landing a {
    font-size: 14px;
  }
  .main-nav-landing {
    gap: 40px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .main-nav-landing {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .ho-me {
    margin-right: 8px;
    margin-left: 31px;
  }
  .pro-dct {
    margin-right: 8px;
    margin-left: 55px;
  }
  .ab-ut {
    margin-right: 8px;
    margin-left: 30px;
  }
  .lo-gin {
    margin-right: 8px;
    margin-left: 36px;
  }
  .con-tct {
    margin-right: 8px;
    margin-left: 70px;
  }
  .trc-ker {
    margin-right: 8px;
    margin-left: 39px;
  }
  .lo-gin {
    font-size: 19px;
  }
  .lo-ut {
    margin-left: -18px;
  }
}
@media screen and (max-width: 768px) {
  .logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
  main .logo-main {
    margin: 40px auto;
    width: 100%;
    max-width: 300px;
    margin-top: 13px;
  }
  .close-btn {
    display: none;
    width: 24px;
    height: 24px;
  }

  .mobile-menu a i {
    margin-left: 0;
  }

  .mobile-menu a {
    font-size: 1.2rem;
  }
}

@media (max-width:430px) {
  .mobile-menu {
    height: 166vh;
  }
}
@media screen and (max-width: 320px) {
  
  header{
    padding: 2px 10px;
  }
  main .logo-main {
    margin-top: -436px;
    margin-bottom: 178px;
    margin-right: -97px;
  }
  main {
    text-align: center;
    padding: 0px 20px;
  }

  .to-gl {
    margin-right: 10px;
  }
  .ho-me {
    margin-right: 8px;
    margin-left: 31px;
  }
  .pro-dct {
    margin-right: 8px;
    margin-left: 55px;
  }
  .ab-ut {
    margin-right: 8px;
    margin-left: 30px;
  }
  .lo-gin {
    margin-right: 8px;
    margin-left: 36px;
  }
  .con-tct {
    margin-right: 8px;
    margin-left: 70px;
  }
  .trc-ker {
    margin-right: 8px;
    margin-left: 39px;
  }
  .lo-gin {
    font-size: 19px;
  }
  .lo-ut {
    margin-left: -18px;
    color: #f58634;
  }
  .logo img {
    width: 76px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  body {
    width: 100vw;
  }

  .close-btn {
    z-index: 4;
    display: none;
    width: 24px;
    height: 24px;
  }
}

/* 31-12-2024 */
.menu-toggle {
  cursor: pointer;
  z-index: 5;
}

.mobile-menu {
  z-index: 2;
  display: none;
  flex-direction: column;
  background-color: #f4f4f4;
  padding:75px 10px;
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 33px;
}

.mobile-menu a {
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}
.mobile-menu a i {
  color: #f58634;
}

.mobile-menu a:hover {
  color: #fd7e14;
}
