@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz@12..96&display=swap");

body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

.about-page {
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
  color: #333;
  padding: 20px;
}

h1,
h3 {
  color: #FC8E04;
}

h2 {
  color: #000000;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.highlight {
  color: #FC8E04;
  font-weight: bold;
}

.movement {
  color: #FC8E04;
}

/* About Section */
.about-section {
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}

.description {
  max-width: 700px;
  margin: 20px auto;
}

.underline {
  height: 5px;
  width: 200px;
  background-color: #ff6200;
  margin: 10px auto;
}

.why-join-section {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.image-container img {
  width: 100%;
  border-radius: 8px;
}

.about-content {
  flex: 1;
  max-width: 600px;
}

.about-content h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.movement-section {
  text-align: center;
  margin-bottom: 40px;
}

.movement-section p {
  max-width: 700px;
  margin: 20px auto;
}

/* Cards Section */
.cards-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

/* Individual Card Styling */
.card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(30% - 20px);
  text-align: center;
  max-width: 400px;
}

.card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 150px;
}


.card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card button {
  background-color: #FC8E04;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 12px;
}

.card button:hover {
  background-color: #f1622e;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .why-join-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    max-width: 100%;
  }

  .image-container img {
    width: auto;
    margin: auto;
  }

  .cards-section {
    justify-content: center;
  }

  .card {
    flex: 1 1 calc(100% - 20px);
    max-width: 100%;
  }

  .card img {
    height: 200px;
  }
}

@media (max-width: 520px) {
  .image-container img {
    width: 100%;
  }
}