.SideBar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.Logo {
    display: flex;
    height: 2rem;
    font-weight: bold;
    font-size: 22px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.Logo img {
    width: 3rem;
    height: 3rem;
}

.Menu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.MenuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 2.1rem;
    margin-left: 2rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}
.MenuItem:hover {
    cursor: pointer;
}
.active {
    background: var(--activeItem);
    margin-left: 0;
}
.active::before {
    content: "";
    width: 8px;
    height: 100%;
    background: var(--orange);
    margin-right: calc(1rem - 8px);
}
.Menu .MenuItem:last-child {
    position: relative;
    top: 1rem;
    width: 100%;
}

.bars {
    display: none;/* Ensure it is visible */
    position: fixed;
    top: 2rem;
    z-index: 9;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 10px;
}
/* Responsive Design */
@media screen and (max-width: 1200px) {
    .MenuItem > span {
        display: none;
    }
    .Logo span{
        display: none;
    }
    
}

@media screen and (max-width: 764px) {
    .SideBar {
        position: fixed;
        z-index: 9;
        background: #ffe0e0;
        width: 55%;
        padding-right: 1rem;
        height: 100%;
    }
    .MenuItem > span {
        display: block;
    }
    .Logo {
        display: flex;
    }
    .Menu .MenuItem:last-child {
        position: relative;
        margin-top: 2rem;
    }
    .bars {
        display: flex!important;
    }
}
