@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
}

body {
  padding: 0px;
  margin: 0px;
  --my-font1: "Bricolage Grotesque", Sans-serif !important;
}

.tracking_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.Wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.checkout-heading {
  text-align: center;
  font-size: 3rem;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.underline-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(255, 132, 0);
}

.line {
  background-color: black;
  height: 0.2rem;
  width: 10rem;
  margin: 0 10px;
}

.tracking_content {
  display: flex;
  justify-content: center;
  width: 80%;
}

.track-box {
  display: flex;
  flex-shrink: 1;
  gap: 70px;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.diamond-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-family: var(--my-font1);
}

.replace_dmd_box {
  margin: auto;
  display: flex;
  width: 280px;
  height: 400px;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.divtext {
  box-shadow: 0px 1px 12px 0px orange;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
}

.diamond-div h2 {
  font-family: "Bricolage Grotesque", Sans-serif !important;
  color: black;
  font-size: 28px;
  text-shadow: 2px 2px 20px #ffc9a8, 1px 2px 10px rgb(250, 156, 68);
}

.diamond {
  height: 90%;
  width: 280px;
}

.divider {
  width: 3px;
  background-color: black;
}

.order-form-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-form {
  height: 75%;
  gap: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  font-family: var(--my-font1);
  font-size: 16px;
  font-style: normal;
  border: 2px solid rgb(111, 80, 36);
  border-radius: 20px;
  box-shadow: 0px 1px 12px 0px orange;
}

.input-details-tracking {
  width: 90%;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 12px 22px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.662);
}

input::-moz-placeholder {
  color: rgb(78, 75, 75);
  opacity: 1;
  font-family: var(--my-font1);
}

input::placeholder {
  color: rgb(78, 75, 75);
  opacity: 1;
  font-family: var(--my-font1);
}

textarea::-moz-placeholder {
  color: rgb(78, 75, 75);
  opacity: 1;
  font-family: var(--my-font1);
}

textarea::placeholder {
  color: rgb(78, 75, 75);
  opacity: 1;
  font-family: var(--my-font1);
}

.social-links {
  position: fixed;
  z-index: 10;
  top: 65%;
  left: 22px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 32px;
}

.social-links div {
  transition: transform 0.5s ease-in-out;
}

.social-links div:hover {
  transform: rotateY(180deg) scale(1.2);
}

.tracking-btn {
  border-radius: 2rem;
  font-size: 1rem;
  padding: 10px 50px 10px 50px;
  margin-top: 2rem;
  background-color: rgb(253, 175, 91);
  color: rgb(14, 14, 14);
  border: 1px solid rgb(255, 132, 0);
  box-shadow: 0px 1px 12px 0px orange;
  font-weight: 600;
  align-self: center;
}

.trackingPage-divider {
  height: 306px;
  background: black;
  width: 3px;
  display: block;
}

.tracking-btn:hover {
  background-color: bisque;
  cursor: pointer;
  font-weight: 600;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .track-box {
    width: 90%;
    gap: 50px;
  }
  .tracking_container {
    padding-top: 100px;
  }
}
@media only screen and (max-width: 852px) {
  .track-box {
    width: 100%;
    gap: 50px;
  }
  .tracking_container {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .tracking_content {
    width: 90%;
  }
  .track-box {
    gap: 30px;
  }
  .diamond {
    height: 80%;
  }
  .tracking-btn {
    font-size: 0.8rem;
    padding: 8px 40px;
  }
  .checkout-heading {
    font-size: 2.5rem;
  }
  .social-links {
    font-size: 25px;
  }
}
@media only screen and (max-width: 685px) {
  .tracking_content {
    width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .track-box {
    flex-direction: column;
  }
  .trackingPage-divider {
    display: none;
  }
  .order-form {
    height: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .order-form {
    padding: 8px;
  }
  .input-details-tracking {
    width: 100%;
    padding: 5px 7px;
    font-size: 15px;
  }
  .tracking-btn {
    padding: 10px 20px;
  }
  .social-links {
    font-size: 18px;
  }
}
/*# sourceMappingURL=trackingPage.css.map */