.card-content-padding {
  padding: 4rem;
}

.input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
  border: 1px solid gray;
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.input-shadow {
  box-shadow: unset;
}

.input-border-color {
  border-color: #666666;
}

.input-color {
  color: #444444;
}

.input-placeholder-color {
  color: #444444;
}

.input-field {
  width: 100%;
}

.password-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb; /* Match the input field border */
  border-radius: 4px; /* Match the input field border radius */
  padding-right: 10px; /* Add padding to the right for the icon */
  background-color: #fff; /* Match the input field background */
}

.password-input-container .input {
  flex: 1;
  border: none; /* Remove the input field border */
  outline: none; /* Remove the default focus outline */
  padding: 0.5rem;
  font-size: 1.25rem;
}

.password-input-container .IconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666; /* Adjust the color of the icon */
}

/* Full background styling for the modal-like effect */
.ca-signup-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("../../assets/images/Article_Gen/article_gen.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
}

.ca-signup-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  height: 130vh;
}

.ca-signup-container .heading-text {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.full-screen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Light overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.full-screen-animation {
  width: 300px;
  height: 300px;
}

.already-account {
  margin-top: 1rem;
}

.already-account:hover {
  color: #4c4b4b;
}

@media screen and (max-width: 1560px) {
  .ca-signup-container .heading-text {
    font-size: 2.5rem;
  }
}

.ca-signup-container .epilogue {
  font-family: "Epilogue", normal;
  margin-bottom: 30px;
}

.ca-signup-container .subtitle-text {
  font-size: 1.5rem;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 1560px) {
  .ca-signup-container .subtitle-text {
    font-size: 1.25rem;
  }
}

.ca-signup-container .signup-card {
  width: 60%;
  border-radius: 16px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.1607843137);
}

.ca-signup-container .signup-card .card-content {
  padding: 4rem;
}

@media screen and (max-width: 1024px) {
  .ca-signup-container .signup-card {
    width: 50%;
  }
}

@media screen and (max-width: 865px) {
  .ca-signup-container .signup-card {
    margin-top: 6rem;
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .ca-signup-container .signup-card .card-content {
    padding: 2rem;
  }
  .signup-card {
    margin-top: 6rem;
  }
  .ca-signup-container .signup-card {
    width: 60%;
  }
  .ca-signup-container .heading-text {
    font-size: 1.8rem;
  }
}

.ca-signup-container .signup-card .card-content .signup-content .signup-btn-border {
  font-family: "Inter", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 50px 15px 60px;
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #000000;
  border-radius: 9px !important;
  transition: 0.2s;
  display: block;
  margin: 1rem auto;
}

.ca-signup-container .signup-card .card-content .signup-content .signup-btn-border:hover {
  transform: translate(-0.25rem, -0.25rem);
  background: #fac44b !important;
  box-shadow: 0.25rem 0.25rem #000000;
}

.ca-signup-container .signup-card .card-content .signup-content .divider-wrapper {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  margin: 0;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
}

.ca-signup-container .signup-card .card-content .signup-content .divider-wrapper .divider {
  text-align: center;
  flex: 0.2 0 auto;
  margin: 0;
  background-color: #fff;
}

.ca-signup-container .signup-card .card-content .signup-content .connect-account {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ca-signup-container .signup-card .card-content .signup-content .connect-account .google-option {
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid black;
  width: 300px;
  border-radius: 9px;
  height: 40px;
  padding: 7px;
}

.ca-signup-container .signup-card .card-content .signup-content .connect-account .google-option:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 150px rgba(0, 0, 0, 0.1019607843);
}

@media only screen and (max-width: 600px) {
  .signup-container {
    padding-top: 120px;
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .signup-btn-border {
    padding: 15px 20px 15px 20px !important;
  }
}

.show-error-message-below {
  position: relative !important;
}

.show-error-message-below::after {
  content: attr(data-err-msg);
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: 0.85rem;
}

.show-error-message-above {
  position: relative !important;
}

.show-error-message-above::after {
  content: attr(data-err-msg);
  position: absolute;
  bottom: 3.5rem;
  left: 0;
  color: #e12047;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.is-size-7 {
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (max-width: 432px) {
  .ca-signup-container .signup-card {
    width: 90%;
  }
  .ca-signup-container {
    padding-top: 0px;
  }
  .input {
    font-size: 1rem;
  }
  .already-account {
    font-size: 1rem;
    margin-left: 5px;
  }
  .already-account:hover {
    color: #4c4b4b;
  }
  .signup-btn-border {
    padding: 10px 15px 10px 15px !important;
  }
  .ca-signup-container .signup-card .card-content .signup-content .signup-btn-border {
    font-size: 16px;
  }
}

@media screen and (max-width: 325px) {
  .nav-container-auth {
    padding: 10px 14px 10px 14px;
  }
  .ca-signup-container .signup-card .card-content {
    padding: 2rem 1.5rem;
  }
  .ca-signup-container .signup-card .card-content .signup-content .signup-btn-border {
    font-size: 14px;
    margin: 0.8rem auto;
  }
  .input {
    font-size: 1rem;
  }
}